<% layout('./../shares/layout') -%>

<script src="/javascripts/problem/createController.js"></script>
<link rel="stylesheet" href="/stylesheets/createProblem.min.css">

<div class="row" ng-controller="problemCreateController">
  <div class="col-lg-2 col-md-2 hidden-sm"></div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="form animated animation-400 fadeInUp">
      <div class="title animated animation-2000 slideInDown">Create new problem</div>
      <div class="form-group" ng-class="{'has-danger': error.server}">
        <div class="form-control-feedback" ng-show="error.server">Error from server. Please try again</div>
      </div>

      <div class="form-group" ng-class="{'has-danger': NotValidID() || error.idExist}">
        <label class="form-control-label animated animation-1000 slideInLeft" for="idProblemCreate">ID for this problem</label>
        <input type="text" class="form-control form-control-danger" id="idProblemCreate" ng-model="id">
        <div class="form-control-feedback" ng-show="NotValidID()">ID problem can't be empty</div>
        <div class="form-control-feedback" ng-show="error.idExist">ID problem is exist</div>
      </div>

      <div class="form-group" ng-class="{'has-danger': NotValidTitle()}">
        <label class="form-control-label animated animation-1000 slideInLeft" for="titleProblemCreate">Title for this problem</label>
        <input type="text" class="form-control form-control-danger" id="titleProblemCreate" ng-model="title">
        <div class="form-control-feedback" ng-show="NotValidTitle()">Title can't be empty</div>
      </div>

      <div class="form-group" ng-class="{'has-danger': NotValidContent()}">
        <label class="form-control-label animated animation-1000 slideInLeft" for="contentProblemCreate">Content of problem</label>
        <textarea class="form-control form-control-danger" id="contentProblemCreate" ng-model="content" rows="5"></textarea>
        <div class="form-control-feedback" ng-show="NotValidContent()">Content can't be empty</div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group" ng-class="{'has-danger': NotValidNumberTestcases()}">
            <label class="form-control-label animated animation-1000 slideInLeft" for="numberProblemCreate">Number testcases</label>
            <select class="form-control form-control-danger" id="numberProblemCreate" ng-model="numberTestCases">
              <option value="{{i}}" ng-repeat="i in listNumberTestCases">{{i}}</option>
            </select>
            <div class="form-control-feedback" ng-show="NotValidNumberTestcases()">Number testcases can't be empty</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group" ng-class="{'has-danger': NotValidTimeLimit()}">
            <label class="form-control-label animated animation-1000 slideInLeft" for="timeProblemCreate">Time limit each test (s)</label>
            <select class="form-control form-control-danger" id="timeProblemCreate" ng-model="timeLimitExceed">
              <option value="{{i}}" ng-repeat="i in listTimeLimit">{{i}}</option>
            </select>
            <div class="form-control-feedback" ng-show="NotValidTimeLimit()">Time limit each test can't be empty</div>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" ng-click="onClickCreateProblem()">
          <i class="fa fa-cog fa-lg" aria-hidden="true"></i> Create Problem </button>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 hidden-sm"></div>
</div>
