<% layout('./../shares/layout') -%>


<script src="/javascripts/problem/listController.js"></script>
<link rel="stylesheet" href="/stylesheets/listProblem.min.css">

<div class="row" ng-controller="problemListController"ng-cloak>
  <div class="col-lg-1 col-md-1 hidden-sm"></div>
  <div class="col-lg-10 col-md-10 col-sm-12 mainComponent">
    <div class="title animated animation-400 fadeInDown">Problems list</div>
    <table class="table table-striped table-bordered animated animation-400 fadeInUp">
      <thead class="thead-bg-success">
        <tr>
          <th width="10%" class="text-center">ID</th>
          <th width="20%" class="text-center">Title</th>
          <th class="text-center">Content</th>
          <th class="text-center">Submission</th>
          <th class="text-center">Submit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ass in listAssignment" ng-cloak>
          <th><a href="/problem/{{ass.id}}" target="_blank">{{ass.id}}</a></th>
          <th>{{ass.title}}</td>
          <td>{{ass.content}}</td>
          <td class="text-center">{{ass.totalSubmission}}</td>
          <td class="text-center"><a href="/problem/{{ass.id}}" target="_blank">
            <i class="fa fa-upload" aria-hidden="true"></i>
          </a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-1 col-md-1 hidden-sm"></div>
</div>
