<% layout('./../shares/layout.ejs') -%>

<link rel="stylesheet" href="/stylesheets/submitProblem.min.css">
<script src="/javascripts/problem/submitController.js"></script>

<div class="row mainComponentSubmit" ng-controller="problemSubmitController" ng-cloak>

  <div id="problemID" hidden><%= problemID %></div>

  <div class="col-lg-6 problemArea animated animation-400 fadeInUp">
    <div class="title text-center">{{ass.title}}</div>
    <div class="info text-center">Input: Standard Input</div>
    <div class="info text-center">Output: Standard Output</div>
    <div class="info text-center">Time limit per test: {{ass.timeLimitExceed}}</div>
    <pre class="content FontOpenSans">{{ass.content}}</pre>
  </div>
  <div class="col-lg-6 submitArea animated animation-400 fadeInRight">
    
        <div class="form-group">
        <form action="{{apiSubmit}}" method="post" id="formSubmit" enctype="multipart/form-data"
        class="animated animation-1500 fadeInLeft">
          <input type="file" name="fileSubmit" id="file" class="input-file">
          <label for="file" class="btn btn-tertiary js-labelFile">
            <i class="icon fa fa-check"></i>
            <span class="js-fileName">Choose a file</span>
          </label>
          <input type="text" hidden name="userID" value="{{userID}}">
          <input type="text" hidden name="problemID" value="{{problemID}}">
          <input type="text" hidden name="isFromFile">
          <textarea hidden name="editorCode"></textarea>
        </form>
            <button type="button" class="btn btn-success pull-right submit animated animation-1500 fadeInLeft" ng-click="onClickSubmit()" ng-disabled="!isUserLogined()">
              <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Submit </button>
            <button class="btn btn-primary pull-right animated animation-1500 fadeInLeft" ng-click="onClickSettings()">
              <i class="fa fa-cog fa-lg" aria-hidden="true"></i> Setting </button>
        </div>

        <div ng-show="!isUserLogined()" class="tips">
          Please sign in to submit your code
        </div>

    <div id="editor"></div>
  </div>
</div>
