@import './../_constant.scss';

nav.main-header {
	background-color: $colorBlue;
	color: white;
	padding: 0px 15px;
	a {
		color: white !important;
		font-weight: 900;
	}
	form {
		a {
			padding-left: 15px;
			padding-right: 15px;
			outline:  none;
			border: none;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.5px;
			@include transition-duration(0.2s);
			&:hover {
				letter-spacing: 2px;
			}
			&:focus {
				outline: none;
				border: none;
			}
			i {
				margin-right: 8px;
				font-size: 18px;
			}
		}
	}
}

.navbar-nav {
	.nav-link {
		display: inline;
	}
}
