@import './../_constant.scss';

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	width: 100%;
	height: 100%;
}

a {
	color: $colorBlue;
	&:hover {
		text-decoration: none;
		color: lighten($colorBlue, 15%);
	}
	&:focus {
		text-decoration: none;
	}
}

.FontOpenSans {
	font-family: 'Open Sans', sans-serif !important;
}

/** =====================================
 *    Animation  Duration
 =======================================*/

 .animation-100 {
    animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
}

.animation-150 {
    animation-duration: 0.15s;
    -o-animation-duration: 0.15s;
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
}

.animation-200 {
    animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
}

.animation-250 {
    animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-duration: 0.25s;
}

.animation-300 {
    animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
}

.animation-500 {
    animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
}

.animation-600 {
    animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
}

.animation-700 {
    animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
}

.animation-800 {
    animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
}

.animation-900 {
    animation-duration: 0.9;
    -o-animation-duration: 0.9s;
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
}

.animation-1000 {
    animation-duration: 1s;
    -o-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.animation-1500 {
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}

.animation-1700 {
    animation-duration: 1.7s;
    -o-animation-duration: 1.7s;
    -moz-animation-duration: 1.7s;
    -webkit-animation-duration: 1.7s;
}

.animation-2000 {
    animation-duration: 2s;
    -o-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

/** =====================================
 *     Transition Duration
 =======================================*/

.transition-100 {
    transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
}

.transition-150 {
    transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
}

.transition-200 {
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.transition-250 {
    transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}

.transition-300 {
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.transition-500 {
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.animation-infinite {
	animation-iteration-count: infinite;
}


.modal {
	.modal-dialog {
		.modal-content {
			.modal-header {
				button.close {
					position: absolute;
					top: 15px;
					right: 15px;
					z-index: 99;
				}
			}
			.modal-body {
				form {
					div.input-group {
						margin-bottom: 10px;
					}
					label {
						font-weight: 900;
					}
					.form-control-feedback {
						font-size: 13px;
					}
				}
				button {
					cursor: pointer;
				}
			}
		}
	}
}
