@import './../_constant.scss';

.mainComponentSubmit {
	margin-top: 20px;
	padding: 5px 30px;
}

.problemArea {
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.content {
		margin-top: 30px;
		letter-spacing: 0.5px;
		font-size: 15px;
	}
	border-right: 2px solid #cacaca;
}

.submitArea {
	padding-left: 20px;
	#editor {
		margin-top: 12px;
		border: 6px solid rgb(1, 107, 24);
		width: 100%;
		height: 400px;
		font-size: 14px;
	}
	.detail {
		div.col-lg-6 {
			font-size: 17px;
			padding: 5px 10px;
			border: 1px solid #cacaca;
		}
	}
}
