$colorBlue: #100068;
$colorGreen: #079e4b;
$colorSuccess: #149208;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition-duration($time) {
    transition-duration: $time;
    -moz-transition-duration: $time;
    -o-transition-duration: $time;
    -webkit-transition-duration: $time;
}

@mixin animation-duration($time) {
    animation-duration: $time;
    -moz-animation-duration: $time;
    -webkit-animation-duration: $time;
}

@mixin animation-iteration-count($time) {
    -webkit-animation-iteration-count: $time; /* Safari 4.0 - 8.0 */
    animation-iteration-count: $time;
}

.FontOpenSans {
	font-family: 'Open Sans', sans-serif !important;
}
