<% layout('./../shares/layout.ejs') -%>

<link rel="stylesheet" href="/stylesheets/detailSubmission.min.css">
<script src="/javascripts/submission/detailController.js"></script>

<div class="row mainComponentSubmit" ng-controller="detailSubmissionController" ng-cloak>

  <div id="submissionID" hidden><%= submissionID %></div>

  <div class="col-lg-6 problemArea animated animation-400 slideInLeft" ng-cloak>
    <div class="title text-center">{{ass.title}}</div>
    <div class="info text-center">Input: Standard Input</div>
    <div class="info text-center">Output: Standard Output</div>
    <div class="info text-center">Time limit per test: {{ass.timeLimitExceed}}</div>
    <pre class="content FontOpenSans">{{ass.content}}</pre>
  </div>

  <div class="col-lg-6 submitArea animated animation-400 slideInRight" ng-cloak>

    <div class="detail">
        <div class="row animated animation-2000 slideInDown">
          <div class="col-lg-6 ">
            Time Submit  
            </div>
            <div class="col-lg-6">
              {{sub.timeSubmit | date: 'dd/MM/yyyy'}} &ensp;
              {{sub.timeSubmit | date: 'HH:mm:ss'}}
            </div>
        </div>
        <div class="row animated animation-2000 slideInUp">
          <div class="col-lg-6">
            Status: {{sub.score == -2 ? 'in processing' : 'finished'}}
          </div>
          <div class="col-lg-6">
            Score: {{sub.score == -2 ? '' : (sub.score == -1 ? 'error' : sub.score)}}
          </div>
        </div>
    </div>

    <div id="editor"></div>
  </div>
</div>
