@import './../_constant.scss';

.mainComponent {
	margin-top: 20px;
	padding: 5px 30px;
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.info {
		margin-bottom: 20px;
		span {
			font-size: 18px;
			font-weight: 900;
		}
		select {
			width: 80px;
			height: 30px;
			text-align: center !important;
			border-radius: 15px;
			outline: none;
			margin-left: 20px;
			text-align-last: center;
		}
		button {
			cursor: pointer;
		}
	}
}

table {
	thead {
		&.thead-bg-success {
			background-color: $colorSuccess;
			color: white;
		}
	}
	div.status {
		background-color: #3a25f5;
		color: white;
		text-transform: uppercase;
		font-size: 13px;
		border-radius: 15px;
		padding: 3px 5px;
	}
	tr.pointer {
		cursor: pointer;
	}
}

