@import './../_constant.scss';

.mainComponent {
	margin-top: 20px;
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

table {
	thead {
		&.thead-bg-success {
			background-color: $colorSuccess;
			color: white;
		}
	}
	div.status {
		background-color: #3a25f5;
		color: white;
		text-transform: uppercase;
		font-size: 13px;
		border-radius: 15px;
		padding: 3px 5px;
		&.success {
			background-color: #eb9719;
		}
	}
}
