<% layout('./shares/layout.ejs') -%>

<div style="width: 80%; margin: 50px auto">
  <h4> Message: <%= message %></h4><br>
  <h4>Status: <%= error.status %></h4><br>
  <pre><%= error.stack %></pre>
</div>
