@import './../_constant.scss';

div.form {
	margin-top: 20px;
	padding: 20px;
	border: $colorBlue 2px solid;
	border-radius: 10px;
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
	}
	button {
		cursor: pointer;
		margin-top: 15px;
	}
	.form-group {
		label {
			font-size: 17px;
			color: $colorBlue;
			font-weight: 900;
		}
		.form-control-feedback {
			font-size: 14px;
		}
	}
}
