@import './../_constant.scss';

.mainComponent {
	margin-top: 20px;
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

table {
	thead {
		&.thead-bg-success {
			background-color: $colorSuccess;
			color: white;
		}
	}
}
