@import './../_constant.scss';

.mainComponentSubmit {
	margin-top: 20px;
	padding: 5px 30px;
}

.problemArea {
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		color: $colorGreen;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.content {
		margin-top: 30px;
		letter-spacing: 0.5px;
		font-size: 15px;
	}
	border-right: 2px solid #cacaca;
}

.submitArea {
	padding-left: 20px;
	button {
		padding: 2px 15px;
		border-radius: 3px;
		outline: none;
		border: none;
		cursor: pointer;
		line-height: 40px;
		width: 150px;
		text-transform: uppercase;
		letter-spacing: 1px !important;
		i {
			margin-right: 10px;
		}
		&.submit {
			margin-left: 15px;
		}
	}
	.tips {
		text-align: right;
		font-size: 17px;
		color: $colorBlue;
	}
	div.form-group {
		form {
			display: inline-flex;
		}
	}
	#editor {
		margin-top: 12px;
		border: 6px solid rgb(1, 107, 24);
		width: 100%;
		height: 400px;
		font-size: 14px;
	}
}

.btn-tertiary {
	color: #555;
	padding: 0;
	line-height: 40px;
	width: 280px;
	// display: block;
	cursor: pointer;
	border: 2px solid #555;
	&:hover,
	  &:focus {
		color: lighten(#555, 20%);
		border-color: lighten(#555, 20%);
	  }
  }

  /* input file style */

  .input-file {
	  width: 0.1px;
	  height: 0.1px;
	  opacity: 0;
	  overflow: hidden;
	  position: absolute;
	  z-index: -1;
	+ .js-labelFile {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  padding: 0 10px;
	  cursor: pointer;
	  .icon:before {
		//font-awesome
		content: "\f093";
	  }
	  &.has-file {
		.icon:before {
		  //font-awesome
		  content: "\f00c";
		  color: #5AAC7B;
		}
	  }
	}
  }
