<link rel="stylesheet" href="/stylesheets/header.min.css">
<script src="/javascripts/shares/headerController.js"></script>

<div ng-controller="headerController" ng-cloak>
  <nav class="main-header navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="/assets/images/angular.png" width="40" height="40" alt=""> Shama
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" ng-show="username!='Admin'">Prolem <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/admin/problem" ng-show="username=='Admin'">Create Problem <span class=""></span></a>
          <a class="nav-link" href="/admin/" ng-show="username=='Admin'">Manage Users <span class=""></span></a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
      
        <a href="" ng-show="!isUserLogined()" data-toggle="modal" data-target="#modalLogin" data-dismiss="modal">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
        </a>
      
        <a href="" ng-show="!isUserLogined()" data-toggle="modal" data-target="#modalSignUp" data-dismiss="modal">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up
        </a>

        <a href="/profile" ng-show="isUserLogined()">
          <i class="fa fa-user" aria-hidden="true"></i> {{username}}
        </a>
      
        <a href="" ng-show="isUserLogined()" ng-click="onClickSignOut()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
        </a>
      </form>
    </div>
  </nav>
</div>
