<!DOCTYPE html>
<html ng-app="Shama" ng-cloak>

<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.7, minimum-scale=1">
    <meta http-equiv="content-language" content="vi">

    <!-- Google Font -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=vietnamese">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- JQuery Confirm -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Animation -->
    <link rel="stylesheet" href="/lib/animate/animate.min.css">
    <link rel="stylesheet" href="/lib/hover/hover-min.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="/stylesheets/style.min.css">

    

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- JQuery + JQuery Confirm -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <!-- AngularJS  -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <!-- Ace editor -->
    <script src="/lib/ace-builds/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/ace-builds/src-min/ext-language_tools.js"></script>
    <script src="/lib/ace-builds/src-min/ext-settings_menu.js"></script>

    <!-- My JavaScripts -->

    <!-- Config module start -->
    <script>
        angular.module('Shama', []);
    </script>

    <script src="/javascripts/services/api.js"></script>
    <script src="/javascripts/services/jqueryConfirm.js"></script>
    <script src="/javascripts/shares/shareController.js"></script>
    
</head>

<body>

    <div id="usernameUserLogined" hidden><%= usernameUserLogined %></div>

    <% include ./header.ejs %>
    <% include ./footer.ejs %>
    <% include ./sign-in.ejs %>
    <% include ./sign-up.ejs %>

    <%- body %>

</body>

</html>
