<script src="/javascripts/shares/signUpController.js"></script>

<div ng-controller="signUpController" ng-cloak class="modal fade animated slideInUp animation-300" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close fa-lg" aria-hidden="true"></i>
          </button>
          <div class="col-lg-12 text-center">
            <h3 class="modal-title" id="modalSignUpLabel">SIGN UP</h3>
          </div>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group" ng-class="{'has-danger': error.server}">
              <div class="form-control-feedback" ng-show="error.server">Error from server. Please try again</div>
            </div>
            <div class="form-group" ng-class="{'has-danger': error.usernameExist||NotValidUsername()}">
              <label class="form-control-label" for="usernameSingUp">Username</label>
              <input type="text" class="form-control form-control-danger" id="usernameSingUp"
              ng-model="username">
              <div class="form-control-feedback" ng-show="error.usernameExist">Username has been exist</div>
              <div class="form-control-feedback" ng-show="NotValidUsername()">Username only includes A-Z, a-z, 0-9, -, or _, and from 3-15 characters</div>
            </div>
            <div class="form-group" ng-class="{'has-danger': NotValidPassword()}">
              <label class="form-control-label" for="passwordSignUp">Password</label>
              <input type="password" class="form-control form-control-danger" id="passwordSignUp"
              ng-model="password">
              <div class="form-control-feedback" ng-show="NotValidPassword()">Password length at least 5</div>
            </div>
            <div class="form-group" ng-class="{'has-danger': NotValidConfirmPassword()}">
              <label class="form-control-label" for="passwordConfirmSignUp">Confirm password</label>
              <input type="password" class="form-control form-control-danger" id="passwordConfirmSignUp"
              ng-model="passwordConfirm">
              <div class="form-control-feedback" ng-show="NotValidConfirmPassword()">Password not match</div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary" ng-click="onClickSignUp()">
                <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> SIGN UP </button>
            </div>
          </form>
          
          <!-- <div class="col-lg-6 col-sm-6">
            <a href="#" class="" data-toggle="modal" data-target="#modalForgetPassword" data-dismiss="modal"> Quên mật khẩu</a>
          </div> -->
          <div class="col-lg-6 col-sm-6">
            <a href="#" data-toggle="modal" data-target="#modalLogin" data-dismiss="modal"> SING IN </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  