<script src="/javascripts/shares/signInController.js"></script>

<div ng-controller="signInController" ng-cloak class="modal fade animated slideInUp animation-300" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fa-lg" aria-hidden="true"></i>
        </button>
        <div class="col-lg-12 text-center">
          <h3 class="modal-title" id="modalLoginLabel">SIGN IN</h3>
        </div>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group" ng-class="{'has-danger': error.server}">
            <div class="form-control-feedback" ng-show="error.server">Error from server. Please try again</div>
          </div>
          <div class="form-group" ng-class="{'has-danger': error.userNotExist}">
            <label class="form-control-label" for="usernameSingIn">Username</label>
            <input type="text" class="form-control form-control-danger" id="usernameSingIn"
            ng-model="username">
            <div class="form-control-feedback" ng-show="error.userNotExist">Username is not exist</div>
          </div>
          <div class="form-group" ng-class="{'has-danger': error.wrongPassword}">
            <label class="form-control-label" for="passwordSignIn">Password</label>
            <input type="password" class="form-control form-control-danger" id="passwordSignIn"
            ng-model="password">
            <div class="form-control-feedback" ng-show="error.wrongPassword">Wrong password</div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" ng-click="onClickLogin()">
              <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> SIGN IN </button>
          </div>
        </form>
        <!-- <div class="col-lg-6 col-sm-6">
          <a href="#" class="" data-toggle="modal" data-target="#modalForgetPassword" data-dismiss="modal"> Quên mật khẩu</a>
        </div> -->
        <div class="col-lg-6 col-sm-6">
          <a href="#" data-toggle="modal" data-target="#modalSignUp" data-dismiss="modal"> SIGN UP </a>
        </div>
      </div>
    </div>
  </div>
</div>
