<% layout('./../shares/layout.ejs') -%>

<link rel="stylesheet" href="/stylesheets/listUser.min.css">
<script src="/javascripts/user/listController.js"></script>

<div class="row mainComponent" ng-controller="userListController" ng-cloak>
    <div class="col-lg-6 col-md-6 col-sm-6 mainComponent ">
      <div class="title animated animation-400 fadeInDown">User list</div>
      <table class="table table-striped table-bordered animated animation-400 slideInUp">
        <thead class="thead-bg-success">
          <tr>
            <th width="40%" class="text-center">Username</th>
            <th class="text-center">Priority</th>
            <th class="text-center">Problems</th>
            <th class="text-center">Total Submit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in listUser" ng-cloak ng-click="onClickUser($index)" class="pointer"
          ng-show="user.username != 'Admin'">
            <th class="text-center">{{user.username}}</th>
            <td class="text-center">{{user.priority}}</td>
            <td class="text-center">{{user.assignments.length}}</td>
            <td class="text-center">{{user.totalSubmit}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mainComponent animated animation-400 slideInRight" ng-repeat="user in listUser" ng-show="$index==indexUserActive">
      <div class="title">{{user.username}}</div>
      <div class="info">
        <span>Priority</span> : 
        <select name="" id="" ng-model="user.updatePriority" ng-options="i for i in listPriority"></select>
            <button type="button" class="btn btn-primary pull-right" ng-click="onClickUpdateUser(user)">
                <i class="fa fa-cog fa-lg" aria-hidden="true"></i> Update User </button>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="thead-bg-success">
          <tr>
            <th width="40%" class="text-center">Problem ID</th>
            <th class="text-center">Number Submission</th>
            <th class="text-center">Max Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ass in user.assignments" ng-cloak>
            <th class="text-center">{{ass.id}}</th>
            <td class="text-center">{{ass.count}}</td>
            <td class="text-center">{{ass.score > 0 ? ass.score : '0'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
