<% layout('./../shares/layout.ejs') -%>

<link rel="stylesheet" href="/stylesheets/profileUser.min.css">
<script src="/javascripts/user/profileController.js"></script>

<div class="row mainComponent" ng-controller="userProfileController" ng-cloak>
    <div class="col-lg-1 col-md-1 hidden-sm"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 mainComponent">
      <div class="title animated animation-800 slideInLeft">Submission list</div>
      <table class="table table-striped table-bordered animated animation-600 fadeInUp">
        <thead class="thead-bg-success">
          <tr>
            <th width="10%" class="text-center">Problem ID</th>
            <th class="text-center">Submission ID</th>
            <th class="text-center">Status</th>
            <th class="text-center">Score</th>
            <th class="text-center">Time submit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sub in listSubmission" ng-cloak>
            <th class="text-center"><a href="/problem/{{sub.assignmentID}}" target="_blank">{{sub.assignmentID}}</a></th>
            <td class="text-center"><a href="/submission/{{sub.id}}" target="_blank">{{sub.id}}</a></td>
            <td class="text-center">
              <div class="status" ng-class="{'success': sub.score != -2}">
                {{sub.score == -2 ? 'in processing' : 'finished'}}
              </div>
            </td>
            <td class="text-center">{{sub.score == -2 ? '' : (sub.score == -1 ? 'error' : sub.score)}}</td>
            <td class="text-center">{{sub.timeSubmit | date: 'dd/MM/yyyy'}} &ensp;&ensp;
                {{sub.timeSubmit | date: 'HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm"></div>
  </div>
  